In [5]:
d1={"name":"muhammad ali","city":"nowshera","dob":"sep 1993","specility":"data sciences"}
print(d1["specility"])
print(d1)

data sciences
{'name': 'muhammad ali', 'city': 'nowshera', 'dob': 'sep 1993', 'specility': 'data sciences'}

In [7]:
d2={}
d2["name"]="muhammad ali"
d2["age"]=26
d2

{'name': 'muhammad ali', 'age': 26}

In [20]:
d3={}
d3["name"]=input("enter your name : ")
d3["age"]=int(input("enter your age : "))
d3["university"]=input("enter your university : ")
d3["skills"]=input("enter your skills ").split(",")
d3["skills"]

enter your name : muhammad ali
enter your age : 26
enter your university : nust
enter your skills python,R,sql,hadoop,spark

['python', 'R', 'sql', 'hadoop', 'spark']

In [21]:
print(d3["skills"][2])

sql

In [22]:
print(d3)
d3.clear()
print(d3)

{'name': 'muhammad ali', 'age': 26, 'university': 'nust', 'skills': ['python', 'R', 'sql', 'hadoop', 'spark']}
{}

In [2]:
d4={}
d4["name"]=input("enter name : ")
d4["age"]=int(input("enter age : "))
d4["uni"]=input("enter uni : " )
print(d4)
del(d4)
print(d4)

enter name : muhammad ali
enter age : 26
enter uni : nust
{'name': 'muhammad ali', 'age': 26, 'uni': 'nust'}

NameError: name 'd4' is not defined

In [6]:
d5={"name":"islamabad","temp":12,"office":"teradata"}
d6=d5.copy()
print(d5)
d5["name"]="nowshera"
print(d5)
print(d6)

{'name': 'islamabad', 'temp': 12, 'office': 'teradata'}
{'name': 'nowshera', 'temp': 12, 'office': 'teradata'}
{'name': 'islamabad', 'temp': 12, 'office': 'teradata'}

In [13]:
l1=["name","age","university","city","skills"]
dict.fromkeys(l1)

{'name': None, 'age': None, 'university': None, 'city': None, 'skills': None}

In [25]:
l2=input("enter names to create a list : ")
l3=l2.split(",")
d7={}
for keys in l3:
    d7[keys]=None
print(d7)

enter names to create a list : muhammad ali,nust,pakistan
{'muhammad ali': None, 'nust': None, 'pakistan': None}

In [46]:
l3=input("enter keys : ").split(",")
l4=input("enter values : ").split(",")
d8={}
for x,y in l3,l4:
    d8[x]=y
print(d8)

enter keys : name,age
enter values : ali,26
{'name': 'age', 'ali': '26'}

In [51]:
l5=input("enter keys : ").split(",")
l6=input("enter values : ").split(",")
d9={}
for x in range(len(l5)):
    d9[l5[x]]=l6[x]
print(d9)

enter keys : name,uni,city
enter values : ali,nust,nowshera
{'name': 'ali', 'uni': 'nust', 'city': 'nowshera'}

In [53]:
l7=input("enter keys : ").split(",")
l8=input("enter values : ").split(",")
d10={}
for x,y in zip(l7,l8):
    d10[x]=y
print(d10)

enter keys : name,age,uni
enter values : ali,26,nust
{'name': 'ali', 'age': '26', 'uni': 'nust'}

In [65]:
l9=input("enter keys : ")
l10=input("enter values : ")
dd1={}
i=0
while i < (len(l9)):
    dd1[l9[i]]=l10[i]
    i +=1
print(dd1)

enter keys : a,b,c,d
enter values : 1,2,3,4
{'a': '1', ',': ',', 'b': '2', 'c': '3', 'd': '4'}

In [1]:
l9=input("enter keys : ")
l10=input("enter values : ")
{l9[x]:l10[x] for x in range(len(l9))}

enter keys : a,b,c,d,e,f,g,h,i,j,k,l,m,n,o
enter values : 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15

{'a': '1',
 ',': '1',
 'b': '2',
 'c': '3',
 'd': '4',
 'e': '5',
 'f': '6',
 'g': '7',
 'h': '8',
 'i': '9',
 'j': '1',
 'k': ',',
 'l': '1',
 'm': '1',
 'n': ',',
 'o': '3'}

In [5]:
l1=input("enter keys : ")
l2=input("enter values : ")
list(zip(l1,l2))

enter keys : a,b,c
enter values : 1,2,3

[('a', '1'), (',', ','), ('b', '2'), (',', ','), ('c', '3')]

In [6]:
d1={}
d1["name"]=input("enter name : ")
d1["age"]=input("enter age : ")
d1["skills"]=input("enter skills : ").split(",")
d1

enter name : ali
enter age : 26
enter skills : python,R,SQL,hadoop,spqk

{'name': 'ali',
 'age': '26',
 'skills': ['python', 'R', 'SQL', 'hadoop', 'spqk']}

In [22]:
a=[chr(i) for i in range(65,91)]
b=[chr(i) for i in range(97,123)]
c=[chr(i) for i in range(48,58)]
d=list(zip(a,sorted(b,reverse=True),c))
d

[('A', 'z', '0'),
 ('B', 'y', '1'),
 ('C', 'x', '2'),
 ('D', 'w', '3'),
 ('E', 'v', '4'),
 ('F', 'u', '5'),
 ('G', 't', '6'),
 ('H', 's', '7'),
 ('I', 'r', '8'),
 ('J', 'q', '9')]

In [26]:
d = [('A', 'z', '0'),
     ('B', 'y', '1'),
     ('C', 'x', '2'),
     ('D', 'w', '4'),
     ('E', 'v', '3'),
     ('F', 'u', '5'),
     ('G', 't', '8'),
     ('H', 's', '7'),
     ('I', 'r', '6'),
     ('J', 'q', '9')]
f=sorted(d,reverse=True)
f

[('J', 'q', '9'),
 ('I', 'r', '6'),
 ('H', 's', '7'),
 ('G', 't', '8'),
 ('F', 'u', '5'),
 ('E', 'v', '3'),
 ('D', 'w', '4'),
 ('C', 'x', '2'),
 ('B', 'y', '1'),
 ('A', 'z', '0')]

In [39]:
d = [('A', 'z', '0'),
     ('B', 'y', '1'),
     ('C', 'x', '2'),
     ('D', 'w', '4'),
     ('E', 'v', '3'),
     ('F', 'u', '5'),
     ('G', 't', '8'),
     ('H', 's', '7'),
     ('I', 'r', '6'),
     ('J', 'q', '9')]
sorted(d,reverse=True,key=lambda x:x[0])

[('J', 'q', '9'),
 ('I', 'r', '6'),
 ('H', 's', '7'),
 ('G', 't', '8'),
 ('F', 'u', '5'),
 ('E', 'v', '3'),
 ('D', 'w', '4'),
 ('C', 'x', '2'),
 ('B', 'y', '1'),
 ('A', 'z', '0')]

In [7]:
d = [('A', 'z', '0'),
     ('B', 'y', '1'),
     ('C', 'x', '2'),
     ('D', 'w', '4'),
     ('E', 'v', '3'),
     ('F', 'u', '5'),
     ('G', 't', '8'),
     ('H', 's', '7'),
     ('I', 'r', '6'),
     ('J', 'q', '9')]
def abc(x):
    return x[2]
sorted(d,reverse=True,key=abc)

[('J', 'q', '9'),
 ('G', 't', '8'),
 ('H', 's', '7'),
 ('I', 'r', '6'),
 ('F', 'u', '5'),
 ('D', 'w', '4'),
 ('E', 'v', '3'),
 ('C', 'x', '2'),
 ('B', 'y', '1'),
 ('A', 'z', '0')]

In [12]:
d1={"name":"ali","age":26,"university":"nust"}
d2={}
for x in sorted(d1.keys()):
    d2[x]=d1[x]
d2

{'age': 26, 'name': 'ali', 'university': 'nust'}

In [23]:
d1={
    "name":85,
    "age":26,
    "university":85}
#{k:v for k,v in sorted(d1.items(),key=lambda x:x[1],reverse=True)}
{k:v for k,v in sorted(d1.items(), key=lambda x:x[1], reverse=True) }

{'name': 85, 'university': 85, 'age': 26}

In [20]:
d1={
    'a':1,
    'c':5,
    'b':2,
    'd':3
}

{k:v for k,v in sorted(d1.items(), key=lambda x:x[1], reverse=True) }

{'c': 5, 'd': 3, 'b': 2, 'a': 1}

In [4]:
students=[]
flag=''
while flag != "no":
    d1={}
    d1["name"]=input("enter name : ")
    d1["uni"]=input("enter uni : ")
    d1["city"]=input("enter city : ")
    students.append(d1)
    flag=input("enter more record")
d1
students

enter name : ali
enter uni : nust
enter city : nowshera
enter more recordyes
enter name : umair
enter uni : fast
enter city : isb
enter more recordwaheed
enter name : waheed
enter uni : karachi
enter city : kch
enter more recordyes
enter name : burhan
enter uni : peshawar
enter city : swabi
enter more recordno

[{'name': 'ali', 'uni': 'nust', 'city': 'nowshera'},
 {'name': 'umair', 'uni': 'fast', 'city': 'isb'},
 {'name': 'waheed', 'uni': 'karachi', 'city': 'kch'},
 {'name': 'burhan', 'uni': 'peshawar ', 'city': 'swabi'}]