# FUNCTIONS

In [14]:
def abc(a,b,c):
    return (a+b+c)
abc(1,2,3)
#def dat():
 #   return datetime()
#dat()

6

# Predefine function

In [18]:
print("muhammad ali")
#input("enter : ")
print(type(("abc")))
print(id("aa"))
print(sorted("abdos"))
print(sum([7,9]))

muhammad ali
<class 'str'>
67025376
['a', 'b', 'd', 'o', 's']
16

# User defined function

In [1]:
print("Pakistan zindabad")
print("we are pakistani")
print("welove our country")

Pakistan zindabad
we are pakistani
welove our country

In [4]:
def abc():  #functin decelartion
    print("Pakistan zindabad")   #Body Start Statement
    print("we are pakistani youthprint")
    print("welove our country")
abc()
abc()
abc() #this function is default function which does not take argument

Pakistan zindabad
we are pakistani youthprint
welove our country
Pakistan zindabad
we are pakistani youthprint
welove our country
Pakistan zindabad
we are pakistani youthprint
welove our country

In [14]:
def id_card(sid,sname,fname,course,time):#parameters inside parenthesis
    print(f"""
    PIAIC Islamabad
    student id : {sid}
    Name : {sname}
    Father Name : {fname}
    course : {course}
    time:{time}
    """)
id_card(1,"ali","jamshaid khan","ai","12 to 3")
id_card(2,"ali jamshaid","jamshaid khan","ai","12 to 3")
id_card(3,"waheed","jamshaid khan","ai","12 to 3")

    PIAIC Islamabad
    student id : 1
    Name : ali
    Father Name : jamshaid khan
    course : ai
    time:12 to 3


    PIAIC Islamabad
    student id : 2
    Name : ali jamshaid
    Father Name : jamshaid khan
    course : ai
    time:12 to 3


    PIAIC Islamabad
    student id : 3
    Name : waheed
    Father Name : jamshaid khan
    course : ai
    time:12 to 3

# Optional Arguments

In [21]:
def plz(a,b=0,c=0):
    print (a,b,c)
    print(a+b+c)
plz(5)
plz(5,7)
plz(8,5,9)
plz(22)

5 0 0
5
5 7 0
12
8 5 9
22
22 0 0
22

# Return Function

In [25]:
a=print("pakistani") #non return function
print(a)#print non return function

pakistani
None

In [28]:
def pls(x=0,y=0,z=0):
    return(x+y+z) #always return first return statement
    return(x*y*z) 
    return(x+y*z)
a=pls(7,8)
b=pls(8,4,3)
print(a,b)

15 15

In [32]:
def pls(x=0,y=0,z=0):
    return(x+y+z) , (x*y*z) , (x+y*z)
print(pls(2,3))
print(pls(2,3,4))

(5, 0, 2)
(9, 24, 14)

# Keyword Arguments

In [37]:
def id_card(sid,sname,fname,course,time):#parameters inside parenthesis
    print(f"""
    PIAIC Islamabad
    student id : {sid}
    Name : {sname}
    Father Name : {fname}
    course : {course}
    time:{time}
    """)
    
id_card(33,"jamshaid","a.i","12 to 3","muhammad ali")
id_card(33,fname="jamshaid",course="a.i",time="12 to 3",sname="muhammad ali")
id_card(33,"jamshaid",course="a.i",time="12 to 3",fname="muhammad ali")

    PIAIC Islamabad
    student id : 33
    Name : jamshaid
    Father Name : a.i
    course : 12 to 3
    time:muhammad ali


    PIAIC Islamabad
    student id : 33
    Name : muhammad ali
    Father Name : jamshaid
    course : a.i
    time:12 to 3


    PIAIC Islamabad
    student id : 33
    Name : jamshaid
    Father Name : muhammad ali
    course : a.i
    time:12 to 3

# Pass argument by list

In [41]:
def id_card(sid,sname,fname,course,time):#parameters inside parenthesis
    print(f"""
    PIAIC Islamabad
    student id : {sid}
    Name : {sname}
    Father Name : {fname}
    course : {course}
    time:{time}
    """)
l1=[8,"a","b","c","d"]
l2=[81,"A1","b1","c1","d1"]
id_card(l1[0],l1[1],l1[2],l1[3],l1[4])
id_card(*l2)
print(*l1)

    PIAIC Islamabad
    student id : 8
    Name : a
    Father Name : b
    course : c
    time:d


    PIAIC Islamabad
    student id : 81
    Name : A1
    Father Name : b1
    course : c1
    time:d1

8 a b c d

# Pass argument by dictionary

In [45]:
def id_card(sid,sname,fname,course,time):#parameters inside parenthesis
    print(f"""
    PIAIC Islamabad
    student id : {sid}
    Name : {sname}
    Father Name : {fname}
    course : {course}
    time:{time}
    """)
d1={
    'course':"a.i",
    'time':"12 to 3",
    "sname":"ali",
    "fname":"jamshaid khan",
    "sid":13
}
id_card(**d1)

    PIAIC Islamabad
    student id : 13
    Name : ali
    Father Name : jamshaid khan
    course : a.i
    time:12 to 3

# optional parameters with list

In [54]:
def abc(name, *number):
    print(name)
    print(number)
    print(sum(number))
#abc("ali",5,4,3,5,7)
abc(9,8,7,6, name="ali")

TypeError: abc() got multiple values for argument 'name'

# Optional parameter with dictionary

In [59]:
def abc(name,**kv):
    print(name)
    print(kv)
    if b in kv.keys():
        print("pakistan")
abc('ali',a='aa',b='bb',c='cc')

ali
{'a': 'aa', 'b': 'bb', 'c': 'cc'}

# Recursive Function

In [61]:
def xyz(n):
    if n==1:
        return 1
    return n*xyz(n-1)
xyz(5)

120

# Generator function

In [72]:
def my_range(n):
    for i in range(1,n+1):
        yield i #yield identity of generator function
        
a = my_range(10)
print(next(a))
print(next(a))
print(next(a))
print(next(a))
list(a)

1
2
3
4

[5, 6, 7, 8, 9, 10]

In [81]:
def my_range(n):
    for i in range(1,n+1):
        if (i%7==0 and i%5==0 and i%15==0):
            yield i
a=my_range(1500)
print(next(a))
list(a)

105

[210, 315, 420, 525, 630, 735, 840, 945, 1050, 1155, 1260, 1365, 1470]

# Lambda Function

In [82]:
def abc(x,y): return (x+y)
abc(7,5)

12

In [83]:
abc =lambda x,y,z: x+y+z
abc(7,7,7)

21

In [89]:
gret= lambda x,y:x>y if x > y y else x
gret(3,6)

SyntaxError: invalid syntax (<ipython-input-89-1789ca24814b>, line 1)