In [ ]:
# Muhammad ALI
# MS GIS/RS NUST
# 2017
# ARTIFICAL INTELLIGENCE

In [22]:
15//4

3

In [23]:
15/4

3.75

In [24]:
19/4

4.75

In [25]:
19//4

4

In [26]:
a=10
b=10
print(a)
print(b)
print(id(a))
print(id(b))
b += 1
print (id(a))
print (id(b))
aa=11
bb=11
print(id(aa))
print(id(bb))
aa +=1
print (id(aa))
print (id(bb))

10
10
140716006613680
140716006613680
140716006613680
140716006613712
140716006613712
140716006613712
140716006613744
140716006613712

In [27]:
a=7
type(a)

int

In [28]:
b=22.7
type(b)

float

In [29]:
b="muhammad ali"
type(b)

str

In [30]:
int("12")+int("2")

14

In [31]:
a="muhammad ali"
a*2

'muhammad alimuhammad ali'

In [61]:
name =["muhammad_ali","nowshera","swabi","igis_nust_islamabad",26]
print (name[3])

igis_nust_islamabad

In [67]:
data={"name":"muhammad ali","city of birth":"nowshera","age":26,"qualification":["bs gis/rs","ms gis/rs",3.7]}
print(data['qualification'],data['name'])

['bs gis/rs', 'ms gis/rs', 3.7] muhammad ali

In [80]:
name = "muhammad   ali  jamshaid "
print(name.title())
print(name.split())
print(name.index("ali"))
print(name.lstrip())
print(name.rstrip())
print(len(name.lstrip()))
print(len(name.rstrip()))

Muhammad   Ali  Jamshaid
['muhammad', 'ali', 'jamshaid']
11
muhammad   ali  jamshaid
muhammad   ali  jamshaid
25
24

In [89]:
target="my name is muhammad ali and i am currently enrolled in abc.uni"
print(target)
print(target[::])
print(target[7:16:])

my name is muhammad ali and i am currently enrolled in abc.uni
my name is muhammad ali and i am currently enrolled in abc.uni
 is muham

In [96]:
a = "390ulksadlj309u0jll786"
"".join([b for b in a if str.isnumeric(b)])

'3903090786'

In [104]:
card ="""Nust university islamabad
name:muhammad ali
programme:ms gis/rs
semester:research phase"""
print (card)

Nust university islamabad
name:muhammad ali
programme:ms gis/rs
semester:research phase

In [113]:
name="muhammad ali"
city="nowshera"
university="nust"
programme="GIS/RS"
school=" IGIS NUST"
cgpa=3.7
card="""
name=%s
city=%s
university=%s
programme=%s
school=%s
cgpa=%f"""
print (card%(name,city,university,programme,school,cgpa))

name=muhammad ali
city=nowshera
university=nust
programme=GIS/RS
school= IGIS NUST
cgpa=3.700000

In [114]:
name="muhammad ali"
city="nowshera"
university="nust"
programme="GIS/RS"
school=" IGIS NUST"
cgpa=3.7
card="""
name={}
city={}
university={}
programme={}
school={}
cgpa={}"""
print(card.format(name,city,university,programme,school,cgpa))

name=muhammad ali
city=nowshera
university=nust
programme=GIS/RS
school= IGIS NUST
cgpa=3.7

In [115]:
name="muhammad ali"
city="nowshera"
university="nust"
programme="GIS/RS"
school=" IGIS NUST"
cgpa=3.7
card="""
name={0}
city={1}
university={2}
programme={3}
school={4}
cgpa={5}"""
print(card.format(name,city,university,programme,school,cgpa))

name=muhammad ali
city=nowshera
university=nust
programme=GIS/RS
school= IGIS NUST
cgpa=3.7

In [116]:
name="muhammad ali"
city="nowshera"
university="nust"
programme="GIS/RS"
school=" IGIS NUST"
cgpa=3.7
card="""
name={n}
city={c}
university={u}
programme={p}
school={s}
cgpa={cg}"""
print(card.format(n=name,c=city,u=university,p=programme,s=school,cg=cgpa))

name=muhammad ali
city=nowshera
university=nust
programme=GIS/RS
school= IGIS NUST
cgpa=3.7

In [127]:
university="nust"
programme="GIS/RS"
school=" IGIS NUST"
cgpa=3.7
print("muhammad ali \nuniversity: " 
      + university +" \ncity:" + city + "\nprogramme:" + programme + "\nschool:" +school +
     "\ncgpa:" +str(cgpa))

muhammad ali
university: nust
city:nowshera
programme:GIS/RS
school: IGIS NUST
cgpa:3.7

In [132]:
a="muhammad ali"
print(a)

muhammad ali

In [157]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [135]:
print(a.capitalize())

Muhammad ali

In [136]:
a="MUHAMMAD ALI"
print (a.casefold())

muhammad ali

In [144]:
print(a.center(120))
print(a.center(120,"*"))

                                                      MUHAMMAD ALI
******************************************************MUHAMMAD ALI******************************************************

In [151]:
print(a.count("A"))

3

# ENCODE

In [1]:
a="muhammad ali"
print(a.encode())

b'muhammad ali'

# ENDSWITH

In [16]:
print(a.endswith("muhammad"))
print(a.endswith("ali"))
print(a.endswith("ali",10,12))
print(a.endswith("ali",9,12))

False
True
False
True

# EXPANDTABS

In [25]:
st='a \tl \ti'
print(st)
print(st.expandtabs())
print(st.expandtabs(10))

a 	l 	i
a       l       i
a         l         i

# FIND

In [26]:
print(a.find('ali'))

9

# FORMAT

In [27]:
aa='my name is {}'
print(aa.format("muhammad ali"))

my name is muhammad ali

# FORMAT MAP

In [38]:
a={"name":"muhammad ali","university":"nust"}
b="my name is {name} and i study in {university} university"
print(b.format_map(a))

my name is muhammad ali and i study in nust university

# INDEX

In [40]:
x="muhammad ali"
print(x.index('ali'))

9

# ISALNUM

In [92]:
print(x.isalnum())
xx="muhamamdali26"
aa="muhammad"
print(xx.isalnum())

False
True

# ISALPHA

In [93]:
print(x.isalpha())
print(xx.isalpha())
print(aa.isalpha())

False
False
True

# ISASCII

In [119]:
n="muhammad ali 99.3"
print(n.isascii())
b="pythonÂ©"
print(b.isascii())

True
False

# ISDECIMAL

In [120]:
print(n.isdecimal())
c="45"
print(c.isdecimal())

False
True

# ISDIGIT

In [122]:
print(n.isdigit())
print(c.isdigit())

False
True

# ISIDENTIFIER

In [126]:
print(n.isidentifier())
o="string"
print(o.isidentifier())

False
True

# ISLOWER

In [128]:
n="muhammad ali"
print(n.islower())
i="Muhammad Ali"
print(i.islower())

True
False

# ISNUMERIC

In [133]:
print(n.isnumeric())
o="98"
print(o.isnumeric())

False
True

# ISPRINTABLE

In [142]:
x="muhammad    ali"
print(x.isprintable())
xy="muhammad ali \n"
print(xy.isprintable())

True
False

# ISSPACE

In [149]:
print(x.isspace())
xy=" "
ab="  "
print(xy.isspace())
print(ab.isspace())

False
True
True

# ISTITLE

In [152]:
print(x.istitle())
xx="Muhammad Ali"
print(xx.istitle())

False
True

# ISUPPER

In [154]:
print(x.isupper())
dd="MUHAMMAD ALI"
print(dd.isupper())

False
True

# JOIN

In [159]:
a="muhammad ali"
j='-'
print('-'.join(a))
s=["muhammad ali","nowshera","nust","pakistan"]
print(j.join(s))

m-u-h-a-m-m-a-d- -a-l-i
muhammad ali-nowshera-nust-pakistan

# LJUST

In [163]:
x="muhaMMad Ali"
print(x.ljust(40,"%"))

muhaMMad Ali%%%%%%%%%%%%%%%%%%%%%%%%%%%%

# LOWER

In [164]:
print(x.lower())

muhammad ali

# ISTRIP

In [160]:
x="muhammad ali jamshaid"
print(x.lstrip("muhammad ali"))

jamshaid

# MAKETRANS

In [251]:
dict = str.maketrans("abc", "def")
print(dict)

{97: 100, 98: 101, 99: 102}

# PARTITION

In [168]:
x="muhammad ali jamshaid"
print(x.partition("ali"))
y="muhammad ali son of jamshaid khan lives in nowshera of kpk"
print(y.partition("of"))

('muhammad ', 'ali', ' jamshaid')
('muhammad ali son ', 'of', ' jamshaid khan lives in nowshera of kpk')

# REPLACE

In [216]:
x="muhammad ali jamshaid"
print(x.replace("ali","usama"))

muhammad usama jamshaid

# RFIND

In [199]:
print(y.rfind("kpk"))

55

# RINDEX

In [196]:
x="muhammad ali son of jamshaid khan lives in nowshera"
print(x.rindex("lives"))

34

# RJUST

In [205]:
x="muhammad ali"
print(x.rjust(50,"#"))

######################################muhammad ali

# RPARTITION

In [206]:
xx="muhammad ali son of jamshaid khan lives in nowshera"
print(xx.rpartition("of"))

('muhammad ali son ', 'of', ' jamshaid khan lives in nowshera')

# RSPLIT

In [215]:
x="muhammad ali jamshaid"
print(x.rsplit("ali"))

['muhammad ', ' jamshaid']

# RSTRIP

In [225]:
x="muhammad ali jamshaid"
print(x.rstrip())

muhammad ali jamshaid

# SPLIT

In [224]:
print(x.split())

['muhammad', 'ali', 'jamshaid']

# SPLITLINES

In [229]:
x="muhammad \n ali \n jamshaid \n"
print(x)
print(x.splitlines(1))
print(x.splitlines())

muhammad
 ali
 jamshaid

['muhammad \n', ' ali \n', ' jamshaid \n']
['muhammad ', ' ali ', ' jamshaid ']

# STARTSWITH

In [232]:
x="muhammad ali jamashaid"
print(x.startswith("mu"))
print(x.startswith("ja"))

True
False

# STRIP

In [243]:
x="muhammad ali jamashaid"
print(x.strip())

muhammad ali jamashaid

# SWAPCASE

In [237]:
x="muhammad ali"
print(x.swapcase())

MUHAMMAD ALI

# TITLE

In [238]:
x="muhammad ali"
print (x.title())

Muhammad Ali

# UPPER

In [244]:
x="muhammad ali jamashaid"
print(x.upper())

MUHAMMAD ALI JAMASHAID

# ZFILL

In [249]:
x="ali"
print(x.zfill(20))

00000000000000000ali