print("pakistan zindabad")
print("i am pakistani")

In [10]:
print("nowshera")
print("japan pakistan")
print("japan pakistan bahria")

nowshera
japan pakistan
japan pakistan bahria

In [4]:
print("japan")

japan

In [9]:
print("japan pakistan")

japan pakistan

In [7]:
print("japan pakistan")

japan pakistan

# bahria university
- 12:15 to 03:15

function addition(a,b){
    return a+b
}

In [ ]:
# Bahria University

In [5]:
Name=input (" input your name ")
Father_name=input (" Input Your Father name")
university=input (" Input your uni ")
sdss=int(input (" Input your marks "))
programming =int(input (" Input your marks "))
rs =int(input (" Input your marks "))
gis =int(input (" Input your marks "))
water =int(input (" Input your marks "))
x=sdss+programming+rs+gis+water
total_marks=(x,"total marks")
p=(x/500*100)
percentage=(p,"%")
message = """
PIAIC ISLAMABAD BATCH3
NAME:{}
FATHER NAME : {}
UNIVERSITY : {}
sdss:{}
programming:{}
rs:{}
gis:{}
water:{}
x:{}
percentage:{}
"""
message1=message.format(Name,Father_name,university,sdss,programming,rs,gis,water,total_marks,percentage)
print(message1)

 input your name ali
 Input Your Father namejamshaid
 Input your uni nust
 Input your marks 23
 Input your marks 32
 Input your marks 33
 Input your marks 23
 Input your marks 23

PIAIC ISLAMABAD BATCH3
NAME:ali
FATHER NAME : jamshaid
UNIVERSITY : nust
sdss:23
programming:32
rs:33
gis:23
water:23
x:(134, 'total marks')
percentage:(26.8, '%')