In [1]:
# MUHAMMAD ALI
# BS GIS/RS PESHAWAR UNIVERSITY
# MS IGIS NUST ISLAMABAD

# Type of operators in Python
- Artimetic operators
- comparison operators
- assignment operators
- logical operators
- bitwise opeators
- Member ship operators
- Identity operators

# Artimetic operators

In [3]:
2+5

7

In [4]:
2.0 + 3.0

5.0

In [5]:
20.5 +3.6

24.1

In [6]:
20.5+6

26.5

In [9]:
"muhammad"+" ali"

'muhammad ali'

In [10]:
["muhammad","ali"]+["jamshaid","khan"]

['muhammad', 'ali', 'jamshaid', 'khan']

In [11]:
("muhammad","ali")+("jamshaid","khan")

('muhammad', 'ali', 'jamshaid', 'khan')

In [7]:
5-2

3

In [8]:
5*8

40

In [20]:
{43,54}-{4,5}

{43, 54}

In [18]:
{15,6,14,9}-{15,9}

{6, 14}

In [19]:
{"muhammad ali","nowshera","swabi","pakistan"}-{"nowshera"}

{'muhammad ali', 'pakistan', 'swabi'}

In [21]:
5*3

15

In [22]:
5*"ali"

'alialialialiali'

In [23]:
5*"ali "

'ali ali ali ali ali '

In [24]:
5.2*3

15.600000000000001

In [25]:
["muhammad ali"]*5

['muhammad ali',
 'muhammad ali',
 'muhammad ali',
 'muhammad ali',
 'muhammad ali']

In [26]:
5/2

2.5

In [28]:
700//4

175

In [29]:
"muhammad ali"/3

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [30]:
15/4

3.75

In [31]:
15//4

3

In [32]:
15%4

3

In [33]:
2**5 #2*2*2*2*2

32

# Comparison operators

In [34]:
5==5

True

In [35]:
"ali"=="Ali"

False

In [37]:
"ali"=="ali"

True

In [38]:
5 != 5

False

In [39]:
5 != 6

True

In [40]:
5 >6

False

In [41]:
5<6

True

In [42]:
5>=5

True

In [43]:
"Ali">"ali"

False

In [44]:
"ali">"ali"

False

In [45]:
"ali" == "ali"

True

In [46]:
"ali" != "ali"

False

A=65 -> Z=90 a=97 -> z=122 0=48 -> 9=57

In [54]:
ord("a")

97

In [56]:
chr(57)

'9'

# Assignment operators

In [59]:
a="muhammad ali"
print(a)

muhammad ali

In [61]:
a=4
a=5
a=8
a=56
print(a)

56

In [62]:
a =3
a +=4
a +=3
print(a)

10

In [63]:
a =6
a -=4
a -=8
a -=3
print(a)

-9

In [64]:
a=1
a*=3
a *=4
a /=3
a -=6
print(a)

-2.0

In [66]:
a=101
a%=5
print(a)

1

In [67]:
a="A"
a +="B"
print(a)

AB

In [68]:
a=[1,2,3]+[5,6]
print(a)

[1, 2, 3, 5, 6]

# Logical Operators

In [70]:
True and True and True

True

In [71]:
True & True & True

True

In [72]:
True & False & True

False

In [77]:
name=input("enter ur name ")
cnic=input("enter ur cnic ")
name=="ali" and cnic=="1234"

enter ur name ali
enter ur cnic 1234

True

In [79]:
name=input("enter ur name ")
cnic=input("enter ur cnic ")
name=="ali" and cnic=="1234"

enter ur name muhammad ali
enter ur cnic 1234

False

In [80]:
name=input("enter ur name ")
cnic=input("enter ur cnic ")
name=="ali" or cnic=="1234"

enter ur name ali
enter ur cnic 1234

True

In [82]:
name=input("enter ur name ")
cnic=input("enter ur cnic ")
name=="ali" or cnic=="1234"

enter ur name ali
enter ur cnic 12345

True

In [83]:
True or True or False or False or True

True

In [84]:
True or True or True or True or True

True

In [85]:
False or False or False or False

False

In [86]:
True | True | False | False | True

True

In [87]:
False | False | False | False | False

False

In [97]:
user=input("enter name : ")
cnic=input("password plz : ")
(user=="ali" or \
 user== "usman" or \
 user== "imran") and cnic=="1234"

enter name : ali
password plz : 1234

True

# Bitwise Operators

# Membership operators

In [104]:
students=["muhammad ali","burhan ahmad","irfan khattak","naveed khan"]
x=0
while x <len(students):
    if students[x]=="irfan khattak":
        print(True)
        break
    x +=2

True

In [105]:
"burhan ahmad" in students

True

In [107]:
user=input("enter text")
"ali" in user

enter textskdlfjsdlfsjalieuryweu

True

In [108]:
user=input("enter text")
"ali" in user

enter texthskdhskfhasldfdh

False

In [109]:
user=input("enter : ")
user=user.split()
user

enter : a b c ali nowshera j i k kpk pakistan

['a', 'b', 'c', 'ali', 'nowshera', 'j', 'i', 'k', 'kpk', 'pakistan']

# Identity operators

In [113]:
a='50'
b=50
c=a
print(a is b)
print(c)
print(a is c)

False
50
True

In [116]:
print(id(a))
print(id(b))
print(id(c))
print(a==b)
print(a==c)
print(id(a)==id(b))
print(id(a)==id(c))

2251372912112
140716227733424
2251372912112
False
True
False
True

# Control Flow

In [117]:
if True:
    print("pakistan")
else:
    print("zindabad")

pakistan

In [118]:
if False:
    print("igis nust")
else:
    print("nust")

nust

In [123]:
user=input("enter ")
cnic=input("enter ")
if (user=="ali") and (cnic=="4321"):
    print("valid username")
else:
    print("not valid")

enter hamza
enter 4321
not valid